
.pr-inner-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .pr-inner-box {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px 0;
    margin-bottom: 30px;
    flex-direction: column;
  }
  
  .pr-inner-box img {
    width: 150px;
    margin: 25px 10px;
  }
  .pr-past-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: larger;
    text-align: center;
    margin-top: 30px;
  }
  .pr-main-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 2rem !important;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .pr-main-heading:before,
  .pr-main-heading:after {
    content: "";
    flex: 1;
    width: 100%;
    height: 2px;
    height: 4px;
    border-top: 2px solid #ffff;
    border-bottom: 2px solid #ffff;
  }
  
  .pr-main-heading:before {
    margin-right: 1rem;
  }
  .pr-main-heading:after {
    margin-left: 1rem;
  }